.mainSection{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-width: 350px;
    max-width: 850px;
	background-color: #242f3e;
    color: white;
	border: 2px solid white;
	border-radius: 25px;
	opacity: 0.95;
}

@media screen and (min-width: 550px) {
    .mainSection{
        min-width: 500px;
    }
  }