.selectSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px 20px;
    width: 100%;
    border-bottom: 2px solid white;
}
